@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
   padding: 0px;
   margin: 0;
}

body {
   max-width: 60%;
   margin: 0 auto;
   font-family: 'Roboto', sans-serif;
   background: #eee;
}

.img__info {
   display: flex;
   margin-top: 10px;
   background: wheat;
   border-radius: 25% 10%;
   padding: 10px 20px 10px 0;
}

.img-logo {
   padding: 35px 0 0 55px;
}
.logo {
   width: 150px;
   height: 150px;
}

.info {
   margin-left: 50px;
   padding-right: 10px;
}

h2 {
   /* color: rgb(0, 0, 0); */
}

p {
   /* color: rgb(0, 0, 0); */
}

.goal {
   margin-top: 10px;
   background: #ffa0a0;
   border-radius: 25% 10%;
   padding: 10px 0 5px 5px;
}

.goals {
   text-align: center;
}

ul {
   /* list-style-type: none; */
   padding-left: revert;
   margin-top: revert;
}

.time__learning {
   text-align: center;
   margin-top: 10px;
   padding: 10px 0 5px 5px;
   background: #a4d9fc;
   border-radius: 25% 10%;
}

.learning {
   display: flex;
   justify-content: center;
   margin-top: 5px;
}

td {
   padding: 15px;
   text-align: center;
   border-bottom: 1px solid #ddd;
}

.courses {
   text-align: center;
   background: #ddd;
   margin-top: 10px;
   border-radius: 25% 10%;
}

table {
   margin-left: auto;
   margin-right: auto;
}

th {
   padding-left: auto;
   padding-right: auto;
   border-bottom: 1px solid rgb(253, 182, 182);
}

.contacts {
   background: #aafac9;
   margin-top: 10px;
   border-radius: 25% 10%;
   margin-bottom: 10px;
}

.icons {
   display: flex;
   justify-content: space-around;
   padding-top: 15px;
   padding-bottom: 15px;
}